controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      ros__parameters:
        joints:
          - joint1
          - joint2
          - joint3
        command_interfaces:
          - position
          - velocity
          - effort
        state_interfaces:
          - position
          - velocity
          - effort
        allow_partial_joints_goal: true
        goal_time: 0.0
        state_publish_rate: 50.0
        action_monitor_rate: 20.0
        joint1:
          trajectory: 0.0
          goal: 0.5
        joint2:
          trajectory: 0.0
          goal: 0.5
        joint3:
          trajectory: 0.0
          goal: 0.5
